div {

  background-color: #5e0606;
  padding:  20px ;
}

body {
  background-color: #11144c;
  margin: 0;
}

h1 {
  color: #ffa400;
  margin-left: 10px;
  margin-top: 0;

}

p {
  color: #ffa400;
  margin-left: 10px
}

.top-container{
  background-color: #5e0606;
  padding:  20px ;

}

.middle-container{
  background-color: red;
  padding:  20px ;

}
.bottom-container{
  background-color: blue;
  padding:  20px ;
  height: 200px;

}
