div {
  background-color: #5e0606;
  padding: 20px;
}

body {
  background-color: #11144c;
  margin: 0;

}

h1 {
  color: #ffa400;
  margin-left: 10px;
  margin-top: 0;
/*  width: 10%;
 margin: 0 auto 0 auto; */
}

p {
  color: #ffa400;
  margin-left: 10px
}
img{
  background-color: #5e0606;
}
.top-container {

  background-color: #5e0606;
  border: solid 10px;
  border-color: green;
  text-align: center;
  padding: 20px;


}

.middle-container {

  background-color: red;
  left: 280px;
  padding: 20px;

  top: 255px;

}

.bottom-container {
  background-color: blue;
  height: 200px;
  left: 500;

  /*padding: 20px;*/
  top: 500;
}
